@import '../../theme.styles.scss';

.account-container {
    padding: 10px;

    .account-header {
        border-bottom: 1px solid $greyLine;

        .account-title {
            color: $greyText;
            display: inline-block;

            .account-name {
                font-size: 150%;
                font-weight: bold;
            }

            .account-info {
                padding: 3px;

                .account-detail {
                    font-size: 90%;
                }
                .account-detail-divider {
                    padding: 2px 2px;
                }
            }
        }

        .account-icons {
            display: inline-block;
            position: absolute;
            right: 15px;
            color: $greyText;
            font-size: 125%;

            span {
                padding: 5px;
                cursor: pointer;

                &:hover {
                    color: black;
                    background-color: $bgHover;
                }
            }
        }
    }

}