<div class="account-container">
    <div *ngIf="account" class="account-header">
        <div class="account-title">
            <span class="account-name">{{account.name}}</span>
            <div class="account-info">
                <span class="account-detail">Account in {{account.currency.symbol}}</span>
                <span class="account-detail-divider">|</span>
                <span class="account-detail"># Transactions 0</span>
                <span class="account-detail-divider">|</span>
                <span class="account-detail">Last transaction 27/11/2016</span>
            </div>
        </div>
        <div class="account-icons">
            <span class="fa fa-upload"></span>
            <span class="fa fa-cog"></span>
        </div>
    </div>

    <div class="menu-tabs">
        <div class="menu-tab selected" routerLink="./" routerLinkActive="active">
            <i class="fa fa-eye"></i>
            <div>Overview</div>
        </div>
        <div class="menu-tab" routerLink="charts" routerLinkActive="active">
            <i class="fa fa-bar-chart"></i>
            <div>Charts</div>
        </div>
        <div class="menu-tab" routerLink="transactions" routerLinkActive="active">
            <i class="fa fa-money"></i>
            <div>Transactions</div>
        </div>
    </div>

    <div class="account-tab-content">
        <router-outlet></router-outlet>
    </div>
</div>