@import '../../theme.styles.scss';

.account-container {
    padding: 10px;

    .account-header {
        border-bottom: 1px solid $greyLine;

        .account-title {
            color: $greyText;
            display: inline-block;

            .account-name {
                font-size: 150%;
                font-weight: bold;
            }

            .account-info {
                padding: 3px;

                .account-detail {
                    font-size: 90%;
                }
                .account-detail-divider {
                    padding: 2px 2px;
                }
            }
        }

        .account-icons {
            display: inline-block;
            position: absolute;
            right: 15px;
            color: $greyText;
            font-size: 125%;

            span {
                padding: 5px;
                cursor: pointer;

                &:hover {
                    color: black;
                    background-color: $bgHover;
                }
            }
        }
    }

    .menu-tabs {
        margin-top: 20px;
        width: 100%;
        display: flex;
 
        .menu-tab {
            display: inline-block;
            flex: 1;
            border-right: 1px solid $greyLine;
            border-top: 3px solid #EEE;
            text-align: center;
            cursor: pointer;
            color: $greyText;
            background: #EEE;
            padding: 10px 0;

            i {
                font-size: 125%;
                padding: 5px;
            }

            &:hover {
                color: black;
                background-color: $bgHover;
            }
        }

        .selected {
            color: $highlightedColor;
            background-color: white;
            font-weight: bold;
            border: none;
            border-top: 3px solid $highlightedColor;

            div {
                font-style: underline;
            }

            &:hover {
                color: $highlightedColor;
                background-color: white;
            }
        }

        .last {
            border-right: none;           
        }
    }

}