$mainColor : #4D394d;

.app-component-container {
    height: 100%;
    
    .menu {
        width: 20%;
        height: inherit;
        float: left;
        background-color: $mainColor;
        color: lighten($mainColor, 65);
        padding: 0 20px;

        .user-box {

            h2 {
                color: white;
                text-align: left;

                i {
                    margin-left: 10px;
                }
            }
        }

        .accounts-box {

            .account-box {

            }
        }

        .action-box {

            .action-box {

            }
        }

    }

    .content {
        background-color: white;
        width: 80%;
        height: inherit;
        float: right;
    }
}