<div class="app-component-container">
    
    <div class="menu">
        <div class="user-box">
            <span class="fa fa-circle user-icon"></span>
            <span class="user-name">Manu Garcia</span>
            <span class="fa fa-angle-down icon"></span>
        </div>
        <div class="menu-boxes">
            <div class="menu-title-box">
                <span class="menu-title">Accounts</span>
                <span class="menu-subtitle">(2)</span>
                <div class="menu-icons">
                    <span class="fa fa-plus-square-o"></span>
                </div>
            </div>
            <div class="menu-box selected">Account 1</div>
            <div class="menu-box">Account 2</div>
        </div>
        <div class="menu-boxes">
            <div class="menu-title-box">
                <span class="menu-title">Actions</span>
            </div>
            <div class="menu-box selected">Overview</div>
            <div class="menu-box">Charts</div>
            <div class="menu-box">Income</div>
            <div class="menu-box">Outcome</div>
        </div>
    </div>

    <div class="content"></div>
</div>