<div class="app-component-container">
    
    <div class="menu">
        <div class="user-box">
            <span class="fa fa-circle user-icon"></span>
            <span class="user-name">User name</span>
            <span class="fa fa-angle-down icon"></span>
        </div>
        <div class="menu-boxes">
            <div class="menu-title-box">
                <span class="menu-title">Accounts</span>
                <span class="menu-subtitle">({{getNAccounts()}})</span>
                <div class="menu-icons">
                    <span routerLink="/account-form" routerLinkActive="active" class="fa fa-plus-square-o"></span>
                </div>
            </div>
            <div class="menu-box" *ngFor="let account of accounts">
                <a [routerLink]="['account', account._id]" routerLinkActive="active">{{account.name}}</a>
            </div>
        </div>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>