@import '../../theme.styles.scss';

$menuColumnWidth: 225px;

.app-component-container {
    height: 100%;
    
    .menu {
        width: $menuColumnWidth;
        height: inherit;
        float: left;
        background-color: $mainColor;
        color: $mainColorWhite;

        .user-box {
    
            padding: 25px 25px;
            cursor: pointer;

            span.user-name {
                font-size: 150%;
                color: white;
                text-align: left;
            }

            span.user-icon {
                color: $highlightedColor;
                font-size: 75%;
            }

            span.icon {
                margin-left: 10px;
                padding: 0 2px;
                color: $mainColorWhite;
            }

            &:hover {
                background-color: $mainColorDark;
            }
        }

        .menu-boxes {
            margin-top: 10px;

            .menu-title-box {

                padding: 5px 25px 5px 25px;

                .menu-title {
                    color: $mainColorWhite;
                    font-size: 125%;
                    margin-bottom: 5px;
                }

                .menu-subtitle {
                    color: darken($mainColorWhite, 15);
                    font-size: 75%;
                }

                .menu-icons {
                    float: right;
                    cursor: pointer;

                    span {
                        color: darken($mainColorWhite, 15);
                        padding: 5px 5px;

                        &:hover {
                            color: white;
                        }
                    }
                }

                &:hover {
                    .menu-subtitle, .menu-title {
                        color: white;
                    }
                }

            }
            .menu-box {
                padding: 5px 35px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: $mainColorWhite;
                }

                &.selected {
                    background-color: $highlightedColor;
                    a {
                        color: white;
                    }
                }

                &:hover {
                    background-color: $mainColorDark;

                    &.selected {
                        background-color: $highlightedColor;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }

    }

    .content {
        background-color: white;
        margin-left: $menuColumnWidth;
        height: inherit;
    }
}