$mainColor : #463030;
$highlightedColor: #3D9970;

$mainColorDark : darken($mainColor, 5);
$mainColorWhite : lighten($mainColor, 75);
$bgHover : lighten($mainColor, 73);

$greyText: $mainColor;
$greyLine: lighten($greyText, 35);