@import '../../theme.styles.scss';

.account-form-container {

    .ng-valid[required], .ng-valid.required {
        border-left: 5px solid #42A948;
    }

    .ng-invalid[required], .ng-invalid.required {
        border-left: 5px solid #A94442;
    }

}